@using System.Globalization
@model List<MyCard>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Card.css" />
    
</head>
<body>
    <h3>Kartice</h3>
    @using (Html.BeginForm("Card", "Home", FormMethod.Get))
    {
        <label for="year">Select Year:</label>
        <select name="year" id="year">
            <option value="0">All Years</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
        </select>

        <label for="visa">Select Card Type:</label>
        <select name="Visa" id="visa">
            <option value="">All Cards</option>
            <option value="true">Visa</option>
            <option value="false">Master Card</option>
        </select>

        <input type="submit" value="Filter" />
    }
    <div class="flex-container">
   
        @foreach (var card in Model)
        {
            <div class="card">
                <img class="logo" src="~/lib/images/icon.png" />
                <h2>@card.FullName</h2>
                <p class="card-number">Broj kartice: @card.CardNumber</p>
                <p class="card-date">Datum: @card.ExpirationDate.ToString("MM/yyyy", CultureInfo.InvariantCulture)</p>
                @if (card.Visa)
                {
                    <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
                }
                else
                {
                    <img class="master-logo" src="~/lib/images/Master_Card.png" />
                }
            </div>
        }
    </div>     
</body>
</html>