 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h2{
            margin: auto;
            text-align: center;
            }
        .flex-container {
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
            .card {
                width: 300px;
                height: 200px;
                border-radius: 20px;
                background-color: greenyellow;
                position: relative;
            box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
            }

            .card-content {
                padding: 20px;
            }

        .logo {
            position: absolute;
            top: 10px;
            left: 240px;
            width: 30px;
            height: 30px;
            display:inline;
            }

            .card h2 {
                padding-left:5px;
                font-size:15px;
               margin-top:45px;
                text-align: left;
                margin-bottom:20px;
            }

            .card-number, .card-date {
            padding-left: 5px;
                text-align:left;
            }

            .visa-logo {
           
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 60px;
                height: 30px;
            }
            .card:first-child{  background-color:bisque; }
            .card:last-child{background-color:white;}
            .card:nth-child(2){background-color:red;}
                </style>
    </head>
    <body>
    <h2>Kartice</h2>
        <div class="flex-container">

        <div class="card">
                <img class="logo" src="~/lib/images/icon.png" />
                <h2>Eugen Deur</h2>
                <p class="card-number">Broj kartice: XXXX XXXX XXXX XXXX</p>
                <p class="card-date">Datum: 05/2029</p>
              
            <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
            </div>
        <div class="card">
            <img class="logo" src="~/lib/images/icon.png" />
            <h2>Eugen Deur</h2>
            <p class="card-number">Broj kartice: XXXX XXXX XXXX XXXX</p>
            <p class="card-date">Datum: 09/2028</p>

            <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
        </div>
        <div class="card">
            <img class="logo" src="~/lib/images/icon.png" />
            <h2>Eugen Deur</h2>
            <p class="card-number">Broj kartice: XXXX XXXX XXXX XXXX</p>
            <p class="card-date">Datum: 01/2030</p>

            <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
        </div>
        <div class="card">
            <img class="logo" src="~/lib/images/icon.png" />
            <h2>Eugen Deur</h2>
            <p class="card-number">Broj kartice: XXXX XXXX XXXX XXXX</p>
            <p class="card-date">Datum: 07/2027</p>

            <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
        </div>
        </div>
    </body>
</html>

