@using System.Globalization
@model List<MyCard>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Card.css" />
    
</head>
<body>
    <h3>Kartice</h3>
    <div class="search-bar-box">
        <label for="searchText">Search:</label>
        <input type="text" id="searchText" name="searchText" placeholder="Search...">
    </div>

    @using (Html.BeginForm("Card", "Home", FormMethod.Get))
    {
        <div class="select-container">
            <label for="year"></label>
            <select name="year" id="year" class="custom-select">
                @if(ViewBag.SelectedYear == 0)
                {
                    <option selected value="0">All Years</option>
                }
                else
                {
                    <option value="0">All Years</option>
                }

                @if (ViewBag.SelectedYear == 2024)
                {
                    <option selected value="2024">2024</option>
                }
                else
                {
                    <option value="2024">2024</option>
                }

                @if (ViewBag.SelectedYear == 2023)
                {
                    <option selected value="2023">2023</option>
                }
                else
                {
                    <option value="2023">2023</option>
                }

                @if (ViewBag.SelectedYear == 2022)
                {
                    <option selected value="2022">2022</option>
                }
                else
                {
                    <option value="2022">2022</option>
                }
            </select>

            <label for="visa"></label>
            <select name="Visa" id="visa" class="custom-select">
                <option value="">All Cards</option>
                <option value="true">Visa</option>
                <option value="false">Master Card</option>
            </select>

            <input class="submit" type="submit" value="Filter" />
        </div>
    }
    <div class="flex-container">
        @foreach (var card in Model)
        {
            <div class="card">
                <img class="logo" src="~/lib/images/icon.png" />
                <h2>@card.FullName</h2>
                <p class="card-number">
                    <span class="card-number-text">@card.CardNumber</span>
                </p>
                <p class="card-date">
                    <span class="card-date-text">@card.ExpirationDate.ToString("MM/yyyy", CultureInfo.InvariantCulture)</span>
                </p>
                @if (card.Visa)
                {
                    <img class="visa-logo" src="~/lib/images/VISA-removebg-preview.png" />
                }
                else
                {
                    <img class="master-logo" src="~/lib/images/Master_Card.png" />
                }
            </div>
        }
    </div>
    <script>
        function highlightText() {
            var searchText = document.getElementById("searchText").value;
            var cardProperties = document.querySelectorAll(".card *");

            cardProperties.forEach(function (property) {
                property.innerHTML = property.textContent;
            });

            cardProperties.forEach(function (property) {
                var regex = new RegExp(searchText, "gi");
                property.innerHTML = property.textContent.replace(regex, function (match) {
                    return "<span class='highlight'>" + match + "</span>";
                });
            });
        }

       
        document.getElementById("searchText").addEventListener("input", highlightText);
    </script>
</body>
</html>