@model MyProracun

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Detalji.css?v=1">
    <title>Detalji proračuna</title>
</head>
<body>
    <h3>Detalji proračuna</h3>
    <div class="model">
        <p>ID: @Model.Id</p>
        <p>Dopušteni budžet: @Model.budzet</p>
        <p>Mjesec: @Model.Month</p>
        <p>Odjel: @Model.Department</p>
    </div>
</body>
</html>