<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalFinanceApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/myStyle.css" />

</head>
<body>
    <div id="nav-bar">
        <img class="firstIcon" src="~/lib/images/icon.png" />
        <p>PersonalFinanceApp</p>
        <h6>Izbornik</h6>
        <hr />
        <div class="firstPartNavbar">
            <ul>

                <li><a href="#"><img src="~/lib/images/pregled.png" alt="Pregled" />Pregled</a></li>
                <li><a href="#"><img src="~/lib/images/card.png" alt="Pregled" />Card</a></li>
                <li><a href="#"><img src="~/lib/images/plaćanje.png" alt="Pregled" />Plaćanje</a></li>
                <li><a href="#"><img src="~/lib/images/statistika.png" alt="Pregled" />Statistika</a></li>
                <li><a href="#"><img src="~/lib/images/izvješće.png" alt="Pregled" />Izvješće</a></li>
                <li><a href="#"><img src="~/lib/images/proračun.png" alt="Pregled" />Proračun</a></li>
                <li><a href="#"><img src="~/lib/images/račun.png" alt="Pregled" />Račun</a></li>
            </ul>
        </div>

        <h6>Kategorije</h6>
        <hr />
        <div class="kategorija">
            <ul>
                <li><a href="#"><img src="~/lib/images/krug.png" alt="Pregled" />Prihod</a></li>
                <li><a href="#"><img src="~/lib/images/krug.png" alt="Pregled" />Dugovi</a></li>
                <li><a href="#"><img src="~/lib/images/krug.png" alt="Pregled" />Računi</a></li>
                <li><a href="#"><img src="~/lib/images/krug.png" alt="Pregled" />Ulaganja</a></li>
            </ul>
        </div>
        <div class="postavke">
            <ul>
                <li><a href="#"><img src="~/lib/images/postavke.png" alt="Pregled" />Postavke</a></li>
                <li><a href="#"><img src="~/lib/images/info.png" alt="Pregled" />Informacije</a></li>
            </ul>
        </div>
        <hr />
        <a class="odjava" href="#"><img src="~/lib/images/odjava.png" alt="Pregled" />Odjava</a>
    </div>

    <div id="main-div">
            <div id="sticky-bar">
                <div class="search-bar">
                    <from action="">
                        <img class="secondIcon" src="~/lib/images/search.png" />
                        <input type="text" id="search-input" placeholder="Search...">
                        
                    </from>
                </div>
            </div>
            <div class="image-container">
                <img id="image" src="~/lib/images/profilna.png" alt="Sample Image">
                    <p id="text">Eugen Deur <br />Special Member</p>
                </div>
            </div>
        
        <div id="main-div">
            <div id="main-content">

            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
<div id="image-container">